html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* This is a fixed size formatting approach on the header, footer, and body */
.header, .footer {
  background: steelblue;
  border: 1px;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.footer {
  text-align: left;
}

.content-body {
  background-color: forestgreen;
  min-height: 400px;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}

.flex_fixed {
    flex: none;
}

.flex_expand {
    flex: auto;
}